<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user2.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user2.email %>
</p>


<%= link_to 'Edit', edit_user2_path(@user2) %> |
<%= link_to 'Back', user2s_path %>
